*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --body-color: #1b87b5;
    --hover-color: #26a7de;
    --dark-grey-color: darkgrey;
    --light-grey-color: rgba(211, 211, 211, 0.281);
    --color-white: white;
}

body{
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
    height: 100vh;
}

.container-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: solid var(--dark-grey-color);
    /* gap: 5%; */
    /* height: 100%; */
}
.twitter-logo{
    width: 100%;
    /* border: solid red; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-twitter{
    width: 20%;
    height: 70%;
    border-radius: 50%;
    background-color: var(--body-color);
    border: none;
}

.button-twitter:hover{
    background-color: var(--hover-color);
}

.button{
    border: solid var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--body-color);
    height: 70%;
    border-radius: 20px;
    width: 70%;
}

.button:hover{
    background-color: var(--hover-color);
}

span{
    font-size: larger;
    font-weight: bolder;
}

ion-icon{
    font-weight: bolder;
    font-size: xx-large;
}

.container-2{
    width: 40%;
    display: inline-block;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    /* border: solid green; */
    /* height: 50%; */
    display: flex;
    flex-direction: column;
}

#earth{
    font-size: large !important;
    color: var(--hover-color);
}

#p-2{
    color: white;
    /* border: solid red; */
    display: flex;
}

header{
    border-bottom: solid var(--dark-grey-color);
    height: 15%;
    width: 100%;
    z-index: 1;
}

.for-me{
    margin-bottom: 2.5%;
}

.for-you{
    /* border: solid red; */
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.for-you2::after{
    content: '';
    position: absolute;
    width: 70px;
    color: purple;
    background-color: var(--hover-color);
    height: 5px;
    margin-left: -65px;
    margin-top: 25px;
    border-radius: 30px;
}

.following:hover:after{
    content: '';
    position: absolute;
    width: 75px;
    background-color: var(--hover-color);
    height: 5px;
    margin-left: -74px;
    margin-top: 25px;
    border-radius: 30px;

}

.home{
    font-weight: bolder;
    color: white;
    margin-left: 3%;
    margin-top: 3%;
}

.overflow-2{
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    /* border: solid red; */
    height: 2000px;
    overflow: hidden;
    overflow-y: scroll;
}

.part-1{
    border: solid blueviolet;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.photos{
    border: solid green;
    height: 50px;
    margin-left: 3%;
    margin-top: 3%;
    width: 50px;
    border-radius: 50%;
    background-image: url(/image/black-mirror.jpeg);
    background-size: cover;
}

.photos2{
        border: solid green;
        height: 50px;
        margin-left: 3%;
        margin-top: 3%;
        width: 50px;
        border-radius: 50%;
        background-image: url(/image/emily.webp);
        background-size: cover;
    
}

#text{
    /* border: solid blue; */
    border-bottom: solid var(--dark-grey-color);
    height: 40%;
    /* margin-top: 70px; */
    margin-left: 15%;
    margin-right: 3%;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#input-1{
    height: 70%;
    width: 100%;
    border: none;
    background-color: var(--body-color);
    outline: none;
}

#logos{
    /* border: solid red; */
    height: 20%;
    display: flex;
    margin-left: 15%;
    margin-right: 3%;
    align-items: center;
    flex-direction: row;
    gap: 2%;
}

.media{
    font-size: large;
    color: var(--hover-color);
    border: none;
    background-color: var(--body-color);
}

.button-part1{
    background-color: var(--body-color);
    border: none;
}

.button-part1:hover{
    cursor: pointer;
}

.photo:hover:after{
    content: 'photo';
    position: absolute;
    font-size: xx-small;
    background-color: var(--light-grey-color);
    color: white;
    margin-top: 19px;
    margin-left: -23px;
    width: 29px;
    height: 13px;
    border-radius: 10px;
}

.gifs:hover:after{
    content: 'gifs';
    position: absolute;
    font-size: xx-small;
    background-color: var(--light-grey-color);
    color: white;
    margin-top: 19px;
    margin-left: -23px;
    width: 29px;
    height: 13px;
    border-radius: 10px;
}

.poll:hover:after{
    content: 'poll';
    position: absolute;
    font-size: xx-small;
    background-color: var(--light-grey-color);
    color: white;
    margin-top: 19px;
    margin-left: -23px;
    width: 29px;
    height: 13px;
    border-radius: 10px;
}

.calendar:hover:after{
    content: 'calendar';
    position: absolute;
    font-size: xx-small;
    background-color: var(--light-grey-color);
    color: white;
    margin-top: 19px;
    margin-left: -27px;
    width: 40px;
    height: 13px;
    border-radius: 10px;
}

.part-2{
    border: solid var(--dark-grey-color);
    height: 500px;
}

.photo-flex{
    /* border: solid brown; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* height: 10%; */
    /* flex-direction: row; */
}

.profile-name{
    /* border: solid ; */
    margin-left: 5px;
    color: var(--color-white);
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paragraph-2{
    /* border: solid green; */
    margin-left: 80px;
    margin-top: -20px;
    height: 85%;
    margin-right: 80px;
}

.lower-text{
    font-size: x-small;
    color: var(--dark-grey-color);
    margin-left: 2%;
}

.lower-text::after{
    content: '.';
    position: absolute;
    border: red;
    /* background-color: red; */
    font-size: x-large;
    margin-top: -15px;
    width: 5px;
    height: 5px;
}

.check{
    /* color: var(--color-white); */
    background-color: black;
    border-radius: 50%;
}

.media1{
    font-size: small;
    color: var(--body-color);
}

.hour{
    font-size: x-small;
    margin-left: 10px;
    color: var(--dark-grey-color);
}

.about-cr7{
    /* border: solid red; */
    width: 100%;
    height: 40%;
    overflow: hidden;
    overflow-y: scroll;
}

.cr7-news{
    line-height: 30px;
}

.cr7-image{
    display: flex;
    flex-wrap: wrap;
    background-image: url(/image/cr7.jpeg);
    background-size: cover;
    margin-top: 10px;
    /* border: solid black; */
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--body-color);
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}

.part-3{
    height: 400px;
}

.container-3{
    width: 30%;
    border-left: solid var(--dark-grey-color);
}
@media screen and (max-width:768px) {
    .container-3{
        display: none;
    }

    .container-1{
        display: none;
    }

    .container-2{
        width: 100%;
    }
}